{% extends 'base.html' %}

{% block content %}
<main>
    <div>
        <h1>{{ todolist.name }}</h1>
        <p>Number of items: {{ todolist.items.count }}</p>
        <p><a href="{% url 'todos:todo_item_create' pk=todolist.pk %}">Create a new item</a></p>
        <p><a href="{% url 'todos:todo_list_update' pk=todolist.pk %}">Edit</a> | <a href="{% url 'todos:todo_list_delete' pk=todolist.pk %}">Delete</a></p>
        <table>
            <thead>
                <tr>
                    <th>Task</th>
                    <th>Due Date</th>
                </tr>
            </thead>
            <tbody>
                {% for item in todolist.items.all %}
                <tr>
                    <td><a href="{% url 'todos:todo_item_update' pk=item.pk %}">{{ item.task }}</a></td>
                    <td>{{ item.due_date }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</main>
{% endblock %}
