{% extends 'base.html' %}

{% block content %}
<main>
    <div>
        <h1>My Lists</h1>
        <p><a href="{% url 'todos:todo_list_create' %}">Create a new list</a></p>
        <p><a href="{% url 'todos:todo_item_create' todo_list.pk %}">Create a new item</a></p>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Number of items</th>
                </tr>
            </thead>
            <tbody>
                {% for todo_list in todo_lists %}
                <tr>
                    <td><a href="{% url 'todos:todo_list_detail' pk=todo_list.pk %}">{{ todo_list.name }}</a></td>
                    <td>{{ todo_list.items.count }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</main>
{% endblock %}
